@import "tailwindcss";
@import '@/css/steppers.css';

@config "../../tailwind.config.js";

.card-wishlist {
    .p-card .p-card-body {
        padding: 0 !important;
    }
}

#pv_id_3  {
    @apply bg-[#fafcff] border-none w-full border-slate-200 rounded-full focus:outline-primary-500 text-slate-700 px-4 text-base
}

#pv_id_4 {
    @apply bg-white border-none w-full border-slate-200 rounded-full focus:outline-primary-500 text-slate-700 px-4 text-base
}

#pv_id_7 {
    @apply bg-white border-none w-full border-slate-200 rounded-full focus:outline-primary-500 text-slate-700 px-4 text-base
}

.p-checkbox-checked .p-checkbox-box {
    border-color: #B795F1 !important;
    background-color: #B795F1 !important;
}

.btn-hover {
    @apply transition-all duration-300 ease-in-out hover:shadow-md hover:scale-105;
}

