@import "tailwindcss";
@import '@/css/steppers.css';

@config "../../tailwind.config.js";

.card-wishlist {
    .p-card .p-card-body {
        padding: 0 !important;
    }
}

.p-checkbox-checked .p-checkbox-box {
    border-color: #B795F1 !important;
    background-color: #B795F1 !important;
}

.btn-hover {
    @apply transition-all duration-300 ease-in-out hover:shadow-md hover:scale-105;
}

.p-datepicker-today .p-datepicker-day  {
    @apply text-white;
    background-color: #B795F1 !important;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: #E9D6FD !important;
}

.p-progressbar-label {
    display: none !important;
}
